body{
    font-family:'Tinos';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: moccasin;
    height: 100vh;
}

.firstbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 750px;
    width: 500px;
    background-color: azure;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}    

.item0{
    font-size: 80px;
    display: flex;
    justify-content: center;
    
    
}
.item1{
    font-size: 40px;
    margin: 20px;
    
    
    
}
.item2{
    font-size: 40px;
    margin: 20px;
    
    
}
.item3{
    font-size: 40px;
    margin: 20px;
    
    
}
.item4{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.item5{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
form{
    border: 5px black;
}